<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='logic.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ontouchstart="">
	<header>
		<h1>Current configuration</h1>
	</header>
	<div class="outer-container">
		<div class="modal" id="modal_layer" data-visible="false">
			<div class="modal-container">
				<div class="topbar topbar-active">
					<button class="abort" onclick="closeModalLayer(this)">Abbrechen</button>
					<button class="finished" onclick="closeModalLayer(this)">Fertig</button>
				</div>
				<form id="modal-form">
					<ul id="modal-attributes">
					</ul>
				</form>
			</div>
		</div>
		<div class="topbar" id="my-topbar">
			<button class="abort" onclick="abort()">abbrechen</button>
			<button class="delete" onclick="deleteMe()">löschen</button>
			<button class="finished" onclick="finished()">fertig</button>
		</div>
		<ul id="item_list">
			{% for object in objects['statusList'] %}
			<li>
				<div class="list-container">
					<div class="list-title">{{ object['name'] }} <div class="subtext">{{ object['description']}}</div></div><div class="modify" data-id="{{ object['id'] }}"><i class="material-icons edit">create</i><i class="material-icons remove" onclick="removeItem(this)">remove</i></div>
				</div>	
			</li>
			{% endfor %}
			<li id="add_item">
				<div class="list-container">
					<div class="list-title" style="font-weight: 100 ">Hinzufügen...<div class="subtext">Eintrag einfügen</div></div><div class="modify"><i class="material-icons add" onClick="displayModalLayer()">add</i></div>
				</div>
			</li>
		</ul>
	</div>
</body>